<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- 🌐 Network + Health Connect permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.health.READ_SLEEP" />
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
    <!-- Optional if you will write data later -->
    <!-- <uses-permission android:name="android.permission.health.WRITE_SLEEP" /> -->

    <application
        android:name="${applicationName}"
        android:label="DreamCatcher"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="android.health.connect.HC_PERMISSION_DECLARATION"
            android:value="true" />

    </application>

    <!-- Allow discovery of Health Connect packages -->
    <queries>
        <!-- Standalone Health Connect app (Android 13) -->
        <package android:name="com.google.android.apps.healthdata" />
        <!-- System Health Connect controller (Android 14+) -->
        <package android:name="com.google.android.healthconnect.controller" />
    </queries>
</manifest>
